body{
    margin: 0;
    padding: 0;
}
.logo{
    width:9%;
    margin-left: 45.5%;
    border-radius: 50%;
    padding: 5px;
}
.navbar-brand{
    padding: 3px 15px !important;
}
.navbar{
    border-radius: 0;
}
.logoContainer{
    background-color: black;
}
.bannerBox{
    background-color: black;
}
.bannerImg{
    width: 100%;
}
.bannerQuote{
    font-family: 'Fredoka One', cursive;
    font-size: 5vw;
}
.fontOne{
    font-family: 'Fredoka One';
}
.borderUnderline{
    border-bottom: 2px solid grey;
}
.priceFont{
    font-size: x-large;
}
.aboutTxt{
    font-size: x-large;
}
.icon{
    color: rgb(9, 204, 9);
}
.btnwhatsap{
 font-size: x-large;
 border: 2px solid green;
 padding: 4px;
 border-radius: 5px;
 cursor: pointer;
}
.btnwhatsap:hover{
    background-color: bisque;
}
.end{
    height: 180px;
    color: aliceblue;
    font-size: larger;
}